In [ ]:
#important necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#load in concatenated dataframe made in "Data Cleaning Main"
dfCombinedFinal = pd.read_csv('/content/drive/Shareddrives/DSCI400Data/dfcombinedfinal.csv')

#Drop unnamed column
dfCombinedFinal.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
dfCombinedFinal.columns

Index(['1', '2', '3', '5', '6', '7', '8', '9', '10', '13', '14', '25', '26',
       '27', '28', '29', '30', '33', '34', '40', '41', '43', '44', '45', '50',
       '51', '52', '53', '54', '55', '57', '61', '62'],
      dtype='object')

In [ ]:
#we are using the pd.factorize function to see all unique values in each feature
for col in dfCombinedFinal.columns:
    vector, unique = pd.factorize(dfCombinedFinal[col])
    print(f"Unique values in {col}: {unique}")

Unique values in 1: Index(['0', '1', 'FALSE', 'TRUE'], dtype='object')
Unique values in 2: Index(['26-100', '25-Jun', 'More than 1000', '100-500', '500-1000', '5-Jan'], dtype='object')
Unique values in 3: Index(['1.0', '0.0', 'TRUE', 'FALSE'], dtype='object')
Unique values in 5: Index(['Not eligible for coverage / N/A', 'No', 'Yes', 'I don't know',
       'Not eligible for coverage / NA'],
      dtype='object')
Unique values in 6: Index(['Yes', 'I am not sure', 'No'], dtype='object')
Unique values in 7: Index(['No', 'Yes', 'I don't know'], dtype='object')
Unique values in 8: Index(['No', 'Yes', 'I don't know'], dtype='object')
Unique values in 9: Index(['I don't know', 'Yes', 'No'], dtype='object')
Unique values in 10: Index(['Very easy', 'Somewhat easy', 'Neither easy nor difficult',
       'Very difficult', 'Somewhat difficult', 'I don't know', 'Difficult'],
      dtype='object')
Unique values in 13: Index(['Maybe', 'Yes', 'No'], dtype='object')
Unique values in 14: Index(['Yes', 'Maybe', 'No'], dtype='object')
Unique values in 25: Index(['1', '0', 'TRUE', 'FALSE'], dtype='object')
Unique values in 26: Index(['No, none did', 'Yes, they all did', 'Some did', 'I don't know'], dtype='object')
Unique values in 27: Index(['N/A (not currently aware)', 'I was aware of some',
       'Yes, I was aware of all of them', 'No, I only became aware later',
       'N/A (was not aware)', 'N/A (none offered)'],
      dtype='object')
Unique values in 28: Index(['I don't know', 'None did', 'Some did', 'Yes, they all did'], dtype='object')
Unique values in 29: Index(['None did', 'Some did', 'Yes, they all did'], dtype='object')
Unique values in 30: Index(['I don't know', 'Yes, always', 'Sometimes', 'No'], dtype='object')
Unique values in 33: Index(['Some of my previous employers', 'No, at none of my previous employers',
       'Yes, at all of my previous employers',
       'At some of my previous employers'],
      dtype='object')
Unique values in 34: Index(['Some of my previous employers', 'I don't know',
       'No, at none of my previous employers',
       'Yes, at all of my previous employers',
       'Yes, all of my previous supervisors',
       'No, none of my previous supervisors',
       'Some of my previous supervisors'],
      dtype='object')
Unique values in 40: Index(['Somewhat open', 'Neutral',
       'Not applicable to me (I do not have a mental illness)', 'Very open',
       'Not open at all', 'Somewhat not open', '5', '4', '10', '8', '3', '6',
       '2', '9', '7', '1', '0'],
      dtype='object')
Unique values in 41: Index(['No', 'Maybe/Not sure', 'Yes, I experienced', 'Yes, I observed',
       'I've always been self-employed'],
      dtype='object')
Unique values in 43: Index(['No', 'Yes', 'I don't know'], dtype='object')
Unique values in 44: Index(['Yes', 'Maybe', 'No', 'Possibly', 'Don't Know'], dtype='object')
Unique values in 45: Index(['No', 'Yes', 'Maybe', 'Possibly', 'Don't Know'], dtype='object')
Unique values in 50: Index(['0', '1', 'FALSE', 'TRUE'], dtype='object')
Unique values in 51: Index(['Not applicable to me', 'Rarely', 'Sometimes', 'Never', 'Often'], dtype='object')
Unique values in 52: Index(['Not applicable to me', 'Sometimes', 'Often', 'Rarely', 'Never'], dtype='object')
Unique values in 53: Float64Index([ 39.0,  29.0,  38.0,  43.0,  42.0,  30.0,  37.0,  44.0,  28.0,
               34.0,  35.0,  52.0,  32.0,  25.0,  31.0,  26.0,  33.0,  27.0,
               36.0,  40.0,  46.0,  41.0,  45.0,  19.0,  21.0,  24.0,  17.0,
               23.0,  22.0,  51.0,  48.0,  55.0,  50.0,  49.0,  20.0,  54.0,
               47.0,  56.0,  57.0,  63.0,  99.0,  61.0, 323.0,  62.0,  53.0,
               58.0,   3.0,  66.0,  59.0,  15.0,  65.0,  74.0,  70.0,  18.0,
               64.0,  60.0,  67.0,   0.0,   5.0,   1.0,  11.0, 223.0],
             dtype='float64')
Unique values in 54: Index(['Male', 'male', 'Female', 'M', 'female', 'm', 'I identify as female.',
       'Bigender', 'non-binary', 'Female assigned at birth',
       ...
       'female, she/her', 'mostly male', 'cisgender male', 'MAle',
       'afab non-binary', 'b', 'male/he/him', 'homem cis', 'cis-het male',
       'Non-binary/Agender'],
      dtype='object', length=156)
Unique values in 55: Index(['United Kingdom', 'United States of America', 'Canada', 'Germany',
       'Netherlands', 'Czech Republic', 'Lithuania', 'Australia', 'France',
       'Venezuela', 'Poland', 'Belgium', 'Brazil', 'Denmark', 'Sweden',
       'Russia', 'Spain', 'India', 'Mexico', 'Switzerland', 'Norway',
       'Argentina', 'Ireland', 'Italy', 'Finland', 'Colombia', 'Costa Rica',
       'Vietnam', 'Bulgaria', 'New Zealand', 'South Africa', 'Slovakia',
       'Austria', 'Bangladesh', 'Algeria', 'Pakistan', 'Afghanistan', 'Greece',
       'Romania', 'Other', 'Brunei', 'Japan', 'Iran', 'Hungary', 'Israel',
       'Ecuador', 'Bosnia and Herzegovina', 'China', 'Chile', 'Guatemala',
       'Taiwan', 'Serbia', 'Estonia', 'Iceland', 'Indonesia', 'Portugal',
       'Jordan', 'Croatia', 'Ukraine', 'Singapore', 'Belarus', 'Turkey',
       'Latvia', 'Mauritius', 'Saudi Arabia', 'Nigeria', 'Kenya', 'Uruguay',
       'Ethiopia', 'Macedonia', 'Hong Kong', 'Georgia', 'Ghana', 'Mongolia',
       'Cameroon', 'Philippines', 'Sri Lanka', 'Egypt', 'Malaysia', 'Slovenia',
       'Albania', 'Sao Tome and Principe'],
      dtype='object')
Unique values in 57: Index(['United Kingdom', 'United States of America', 'Canada', 'Germany',
       'Netherlands', 'Czech Republic', 'Lithuania', 'Australia', 'France',
       'Venezuela', 'Poland', 'Belgium', 'Brazil', 'Denmark', 'Sweden',
       'Russia', 'Spain', 'India', 'United Arab Emirates', 'Mexico',
       'Switzerland', 'Norway', 'Argentina', 'Ireland', 'Italy', 'Finland',
       'Turkey', 'Colombia', 'Costa Rica', 'Vietnam', 'Bulgaria',
       'New Zealand', 'South Africa', 'Slovakia', 'Austria', 'Bangladesh',
       'Pakistan', 'Afghanistan', 'Greece', 'Other', 'Romania', 'Brunei',
       'Iran', 'Hungary', 'Israel', 'Japan', 'Ecuador',
       'Bosnia and Herzegovina', 'China', 'Chile', 'Guatemala', 'Serbia',
       'Estonia', 'Iceland', 'Indonesia', 'Portugal', 'Jordan', 'Croatia',
       'Eritrea', 'Swaziland', 'Ukraine', 'Singapore', 'Luxembourg', 'Latvia',
       'Mauritius', 'Saudi Arabia', 'Nigeria', 'Kenya', 'Uruguay', 'Ethiopia',
       'Macedonia', 'Hong Kong', 'Georgia', 'Ghana', 'Botswana', 'Algeria',
       'Mongolia', 'Cameroon', 'Philippines', 'Sri Lanka', 'Taiwan', 'Egypt',
       'Malaysia', 'Belarus', 'Slovenia', 'Albania'],
      dtype='object')
Unique values in 61: Index(['Maybe', 'Yes', 'No'], dtype='object')
Unique values in 62: Index(['Maybe', 'No', 'Yes'], dtype='object')

In [ ]:
#Create a map of how we would like to vectorize data for each question 
mappingQuestion1 = {'FALSE':0, 'TRUE':1}
mappingQuestion2 = {'5-Jan':0, '25-Jun':1, '26-100':2, '100-500': 3, '500-1000': 4, 'More than 1000': 5}
mappingQuestion3 = {'FALSE':0, 'TRUE':1}
mappingQuestion5 = {'I don\'t know':-1, 'Not eligible for coverage / N/A':-1, 'Not eligible for coverage / NA':-1, 'No':0, 'Yes': 1}
mappingQuestion6 = {'I am not sure':-1, 'NaN':-1, 'No':0, 'Yes': 1}
mappingQuestion7 = {'I don\'t know':-1, 'No':0, 'Yes': 1}
mappingQuestion8 = {'I don\'t know':-1, 'No':0, 'Yes': 1}
mappingQuestion9 = {'I don\'t know':-1, 'No':0, 'Yes': 1}
mappingQuestion10 = {'I don\'t know':-1, 'Very easy':0, 'Somewhat easy': 1, 'Neither easy nor difficult': 3, 'Somewhat difficult': 4, 'Difficult': 5, 'Very difficult': 6}
mappingQuestion13 = {'No':0, 'Maybe': 1, 'Yes': 2}
mappingQuestion14 = {'No':0, 'Maybe': 1, 'Yes': 2}
mappingQuestion25 = {'FALSE':0, 'TRUE':1}
mappingQuestion26 = {'No, none did': 0, 'Some did': 1, 'Yes, they all did': 2, 'I don\'t know': -1}
mappingQuestion27 = {'N/A (was not aware)' :0, 'N/A (not currently aware)': 0, 'No, I only became aware later': 1, 'I was aware of some': 2, 'Yes, I was aware of all of them': 3}
mappingQuestion28 = {'None did': 0, 'Some did': 1, 'Yes, they all did': 2, 'I don\'t know': -1}
mappingQuestion29 = {'None did': 0, 'Some did': 1, 'Yes, they all did': 2, 'I don\'t know': -1}
mappingQuestion30 = {'No': 0, 'Sometimes': 1, 'Yes, always': 2, 'I don\'t know': -1}
mappingQuestion33 = {'No, at none of my previous employers': 0, 'Some of my previous employers': 1, 'Yes, at all of my previous employers': 2, 'I don\'t know': -1}
mappingQuestion34 = {'No, at none of my previous employers': 0, 'No, none of my previous supervisors': 0, 'Some of my previous employers': 1, 'Some of my previous supervisors': 1, 'Yes, at all of my previous employers': 2, 'Yes, all of my previous supervisors':2,  'I don\'t know': -1}
mappingQuestion40 = {'Not open at all': 0, 'Somewhat not open': 2, 'Neutral': 5, 'Somewhat open' : 8, 'Very open' : 10, 'Not applicable to me (I do not have a mental illness)': -1}
mappingQuestion41 = {'No': 0, 'Maybe/Not sure': 1, 'Yes, I observed': 2, 'Yes, I experienced' : 3, 'I don\'t know': -1}
mappingQuestion43 = {'No': 0, 'Yes': 1, 'I don\'t know': -1}
mappingQuestion44 = {'No': 0, 'Maybe': 1, 'Possibly':2, 'Yes' :3, 'I don\'t know': -1}
mappingQuestion45 = {'No':0, 'Maybe':1, 'Possibly':1, 'Yes':2, 'Don\'t Know': -1}
mappingQuestion50 = {'FALSE':0, 'TRUE':1}
mappingQuestion51 = {'Never':0, 'Rarely':1, 'Sometimes':2, 'Often': 3, 'Not applicable to me': -1}
mappingQuestion52 = {'Never':0, 'Rarely':1, 'Sometimes':2, 'Often': 3, 'Not applicable to me': -1}
mappingQuestion53 = {}
mappingQuestion54 = {}
mappingQuestion61 = {'No':0, 'Maybe':1, 'Yes':2}
mappingQuestion62 = {'No':0, 'Maybe':1, 'Yes':2}

In [ ]:
#Create a map factorizing all the unique response options for question 55 "What country do you live in?"
uniqueResponsesQuestion55 = dfCombinedFinal['55'].unique()
mappingQuestion55 = {response: index for index, response in enumerate(uniqueResponsesQuestion55)}


#Create a map factorizing all the unique response options for question 57 "What country do you work in?"
uniqueResponsesQuestion57 = dfCombinedFinal['57'].unique()
mappingQuestion57 = {response: index for index, response in enumerate(uniqueResponsesQuestion57)}

In [ ]:
listOfQuestionNumber = []
for column in dfCombinedFinal.columns:
  listOfQuestionNumber.append(column)

#replace all the data with the conditional maps we created
for questionNumber in listOfQuestionNumber: 
  stringValue = "mappingQuestion" + str(questionNumber)
  dfCombinedFinal[questionNumber] = dfCombinedFinal[questionNumber].replace(globals()[stringValue])

In [ ]:
dfCombinedFinal

,1,2,3,5,6,7,8,9,10,13,...,45,50,51,52,53,54,55,57,61,62
0,0,2.0,1.0,-1.0,NaN,0.0,0.0,-1.0,0.0,1.0,...,0,0,-1,-1,39.0,Male,0,0,1,1
1,0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2,1,1,2,29.0,male,1,1,1,0
2,0,1.0,1.0,0.0,NaN,0.0,0.0,-1.0,3.0,1.0,...,0,1,-1,-1,38.0,Male,0,0,2,2
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,2,2,43.0,male,0,0,2,1
4,0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,1.0,...,2,1,2,2,43.0,Female,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3264,0,2.0,1.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,...,2,1,2,3,33.0,Male,3,3,1,0
3265,0,3.0,1.0,0.0,NaN,-1.0,0.0,-1.0,1.0,1.0,...,0,0,-1,-1,49.0,Male,55,55,1,0
3266,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,-1,-1,28.0,NaN,35,20,0,0
3267,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1,0,2,2,26.0,Male,17,17,0,0
3268,0,2.0,1.0,-1.0,0.0,0.0,0.0,0.0,4.0,1.0,...,2,1,2,2,38.0,male,80,85,2,0

In [ ]:
#Drop any row than contains NaN value 
dataDropNA = dfCombinedFinal.dropna(how='any')
dataDropNA

,1,2,3,5,6,7,8,9,10,13,...,45,50,51,52,53,54,55,57,61,62
1,0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2,1,1,2,29.0,male,1,1,1,0
4,0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,1.0,...,2,1,2,2,43.0,Female,1,1,1,0
5,0,5.0,1.0,1.0,-1.0,0.0,1.0,1.0,1.0,1.0,...,2,1,-1,3,42.0,Male,0,0,2,1
6,0,2.0,1.0,-1.0,0.0,0.0,0.0,-1.0,1.0,1.0,...,0,0,-1,-1,30.0,M,1,1,2,2
7,0,5.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,...,2,1,2,3,37.0,female,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,0,3.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,...,2,1,2,3,30.0,Female,1,1,0,0
3258,0,5.0,1.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,...,1,0,2,2,37.0,Male,23,24,0,0
3260,0,5.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,...,2,1,2,2,35.0,Male,1,1,1,1
3262,0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0,0.0,2.0,...,0,0,-1,-1,46.0,Male,1,1,1,1
3264,0,2.0,1.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,...,2,1,2,3,33.0,Male,3,3,1,0